<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
   <div>
<table>
    <tr><td>Attribute:</td><td><select name="data.attributemod" value= "{{data.attributemod}}" {{#select data.attributemod}}>
        <option value="willpower">Willpower</option>
        <option value="fortitude">Fortitude</option>
        <option value="reflexes">Reflexes</option>
        <option value="reason">Reason</option>
        <option value="intuition">Intuition</option>
        <option value="perception">Perception</option>
        <option value="coolness">Coolness</option>
        <option value="violence">Violence</option>
        <option value="charisma">Charisma</option>
        <option value="soul">Soul</option>
        {{/select}}
        </select></td>
        </tr>
    <tr class="editor-row"><td>Trigger:</td><td>{{editor content=data.trigger target="data.trigger" button=true owner=owner editable=editable}}</td></tr></table>
    <div class="results-input">
    
    
    <tr class="editor-row"><td>15+:</td><td>{{editor content=data.completesuccess target="data.completesuccess" button=true owner=owner editable=editable}}</td></tr>
    <tr class="editor-row"><td>10-14:</td><td>{{editor content=data.partialsuccess target="data.partialsuccess" button=true owner=owner editable=editable}}</td></tr>
    <tr class="editor-row"><td>0-9</td><td>{{editor content=data.failure target="data.failure" button=true owner=owner editable=editable}}</td></tr>
</table>
<select name="data.specialflag" value="{{data.specialflag}}"{{#select data.specialflag}}><option value='0'>None</option><option value='1'>Keep It Together</option><option value='2'>See Through the Illusion</option><option value='3'>Endure Injury</option>{{/select}}</select>

   </div>
   </div>

   </form>
